
<h1>Pictures (<%= @pictures.length %>)</h1>

<div class="pictures">
<% @pictures.each do |picture| %>
  <div class="card" style="width: 18rem;">
    <img src=<%="#{picture.url}"%> alt="">
    <div class="card-body">
      <h5 class="card-title"><%= picture.title %></h5>
      <p class="card-text"><%= picture.artist %></p>
      <p class="card-text">Posted by <%= picture.user.email %></p>
      <a href=<%="pictures/#{picture.id}"%> class="btn btn-primary">See picture</a>
    </div>
  </div>
<% end %>
</div>


<h1>Most recent pictures</h1>
  <div class="recent_pictures">
    <% @most_recent_pictures.each do |picture| %>
    <%= link_to(picture.title, "/pictures/#{picture.id}") %>
    <% end %>
  </div>

<h1>1 month old pictures</h1>
  <div class="pictures">
  <% @one_month_old_pic.each do |picture| %>
  <div class="card" style="width: 18rem;">
    <img src=<%="#{picture.url}"%> alt="">
    <div class="card-body">
      <h5 class="card-title"><%= picture.title %></h5>
      <p class="card-text"><%= picture.artist %></p>
      <p class="card-text">Posted by <%= picture.user.email %></p>
      <a href=<%="pictures/#{picture.id}"%> class="btn btn-primary">See picture</a>
    </div>
  </div>
  <% end %>
</div>


<% @years.each do |year| %>
  <h1><%= year %></h1>
  <hr>
<div class="pictures">
      <% @pictures.each do|picture| %>
      <% if picture.created_at.year == year%>
      <div class="card" style="width: 18rem;">
        <img src=<%="#{picture.url}"%> alt="">
        <div class="card-body">
          <h5 class="card-title"><%= picture.title %></h5>
          <p class="card-text"><%= picture.artist %></p>
          <p class="card-text">Posted by <%= picture.user.email %></p>
          <a href=<%="pictures/#{picture.id}"%> class="btn btn-primary">See picture</a>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
<% end %>

<br>
<br>
<br>
<br>
